@charset "UTF-8";
.ee-switcher__arrows-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.elementor .ee-switcher__content hr {
  margin: 10px 0;
  background: #A2B3DB;
}

.ee-switcher__group-number {
  color: #564F76;
  font-weight: 600;
}

.ee-switcher__videos__video .video-title {
  color: #61599B;
  font-weight: 500;
}

/* Video Transition effects */
.ee-switcher__videos__video {
  opacity: 0;
  display: none;
  transition: all 1s;
}
.ee-switcher__videos__video.is--active {
  display: block;
  opacity: 1;
}

/* Video Transition effects end */

.ee-switcher__media-wrapper.ee-media--stretch .ee-media__thumbnail img {
  object-fit: contain;
}

.ee-switcher__media-wrapper.ee-media--stretch .ee-media__thumbnail {
  visibility: hidden;
  opacity: 0;
}

.ee-switcher__media-wrapper.ee-media--stretch .ee-media__thumbnail.is--current {
  visibility: visible;
  opacity: 1;
}
