@charset "UTF-8";
.elementor-widget-ee-red-switcher .ee-switcher__arrows-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.elementor .ee-switcher__content hr {
  margin: 10px 0;
  background: #A2B3DB;
}

.elementor-widget-ee-red-switcher .ee-switcher__group-number {
  color: #564F76;
  font-weight: 600;
}

.elementor-widget-ee-red-switcher .ee-switcher__videos__video .video-title {
  color: #61599B;
  font-weight: 500;
  display: block;
  max-width: fit-content;
  /* border-bottom: 1px solid #A2B3DB; */
}
/* .ee-switcher__videos__video .video-title:last-child {
  border-bottom: none;
} */
.elementor-widget-ee-red-switcher .ee-arrow--disabled {
  pointer-events: none;
}

/* Video Transition effects */
.elementor-widget-ee-red-switcher .ee-switcher__videos__video {
  opacity: 0;
  display: none;
  transition: all 1s;
}
.elementor-widget-ee-red-switcher .ee-switcher__videos__video.is--active {
  display: block;
  opacity: 1;
}
/* Video Transition effects end */

.elementor-widget-ee-red-switcher .ee-switcher__media-wrapper.ee-media--stretch .ee-media__thumbnail img {
  object-fit: contain;
}

.elementor-widget-ee-red-switcher .ee-switcher__media-wrapper.ee-media--stretch .ee-media__thumbnail {
  visibility: hidden;
  opacity: 0;
}

.elementor-widget-ee-red-switcher .ee-switcher__media-wrapper.ee-media--stretch .ee-media__thumbnail.is--current {
  visibility: visible;
  opacity: 1;
}
