@charset "UTF-8";
.ee-red-switcher__media__items,
.ee-red-switcher .ee-loader,
.ee-red-switcher-skin--overlay .ee-red-switcher__media-wrapper {
  position: absolute;
}

.ee-red-switcher__media__items,
.ee-red-switcher .ee-loader,
.ee-red-switcher-skin--overlay .ee-red-switcher__media-wrapper,
.ee-red-switcher__media__item {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ee-red-switcher {
  display: none;
  position: relative;
}
.ee-red-switcher.is--loaded {
  display: block;
}
.ee-red-switcher__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.ee-red-switcher__media-wrapper {
  min-width: 50%;
  width: auto;
}
.ee-red-switcher__content-wrapper {
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.ee-red-switcher__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.ee-red-switcher__content-wrapper {
  z-index: 2;
}
.ee-red-switcher__media:before {
  content: none !important;
}
.ee-red-switcher__media picture,
.ee-red-switcher__media img {
  max-width: 100%;
  margin: 0;
}
.ee-red-switcher__media__items {
  transform: translate3d(0, 0, 0);
  overflow: hidden;
}
.ee-red-switcher__media__item {
  z-index: 0;
  transition: none;
  position: fixed;
}
.ee-red-switcher__media__item.is--last {
  z-index: 1;
}
.ee-red-switcher__media__overlay {
  display: none;
}
.ee-red-switcher__media.ee-effect--coverLeft .ee-red-switcher__media__item,
.ee-red-switcher__media.ee-effect--coverRight .ee-red-switcher__media__item,
.ee-red-switcher__media.ee-effect--coverBottom .ee-red-switcher__media__item,
.ee-red-switcher__media.ee-effect--coverTop .ee-red-switcher__media__item,
.ee-red-switcher__media.ee-effect--fade .ee-red-switcher__media__item,
.ee-red-switcher__media.ee-effect--slideLeft .ee-red-switcher__media__item,
.ee-red-switcher__media.ee-effect--slideRight .ee-red-switcher__media__item,
.ee-red-switcher__media.ee-effect--slideTop .ee-red-switcher__media__item,
.ee-red-switcher__media.ee-effect--slideBottom .ee-red-switcher__media__item,
.ee-red-switcher__media.ee-effect--swipeLeft .ee-red-switcher__media__item,
.ee-red-switcher__media.ee-effect--swipeRight .ee-red-switcher__media__item,
.ee-red-switcher__media.ee-effect--swipeBottom .ee-red-switcher__media__item,
.ee-red-switcher__media.ee-effect--swipeTop .ee-red-switcher__media__item,
.ee-red-switcher__media.ee-effect--swipeLeft .ee-red-switcher__media__item,
.ee-red-switcher__media.ee-effect--swipeRight .ee-red-switcher__media__item,
.ee-red-switcher__media.ee-effect--swipeBottom .ee-red-switcher__media__item,
.ee-red-switcher__media.ee-effect--swipeTop .ee-red-switcher__media__item,
.ee-red-switcher__media.ee-effect--wink .ee-red-switcher__media__item {
  overflow: hidden;
}
.ee-red-switcher__media.ee-effect--coverLeft .ee-red-switcher__media__item.is--active,
.ee-red-switcher__media.ee-effect--coverLeft .ee-red-switcher__media__item.is--animating,
.ee-red-switcher__media.ee-effect--coverRight .ee-red-switcher__media__item.is--active,
.ee-red-switcher__media.ee-effect--coverRight .ee-red-switcher__media__item.is--animating,
.ee-red-switcher__media.ee-effect--coverBottom .ee-red-switcher__media__item.is--active,
.ee-red-switcher__media.ee-effect--coverBottom .ee-red-switcher__media__item.is--animating,
.ee-red-switcher__media.ee-effect--coverTop .ee-red-switcher__media__item.is--active,
.ee-red-switcher__media.ee-effect--coverTop .ee-red-switcher__media__item.is--animating,
.ee-red-switcher__media.ee-effect--fade .ee-red-switcher__media__item.is--active,
.ee-red-switcher__media.ee-effect--fade .ee-red-switcher__media__item.is--animating,
.ee-red-switcher__media.ee-effect--slideLeft .ee-red-switcher__media__item.is--active,
.ee-red-switcher__media.ee-effect--slideLeft .ee-red-switcher__media__item.is--animating,
.ee-red-switcher__media.ee-effect--slideRight .ee-red-switcher__media__item.is--active,
.ee-red-switcher__media.ee-effect--slideRight .ee-red-switcher__media__item.is--animating,
.ee-red-switcher__media.ee-effect--slideTop .ee-red-switcher__media__item.is--active,
.ee-red-switcher__media.ee-effect--slideTop .ee-red-switcher__media__item.is--animating,
.ee-red-switcher__media.ee-effect--slideBottom .ee-red-switcher__media__item.is--active,
.ee-red-switcher__media.ee-effect--slideBottom .ee-red-switcher__media__item.is--animating,
.ee-red-switcher__media.ee-effect--swipeLeft .ee-red-switcher__media__item.is--active,
.ee-red-switcher__media.ee-effect--swipeLeft .ee-red-switcher__media__item.is--animating,
.ee-red-switcher__media.ee-effect--swipeRight .ee-red-switcher__media__item.is--active,
.ee-red-switcher__media.ee-effect--swipeRight .ee-red-switcher__media__item.is--animating,
.ee-red-switcher__media.ee-effect--swipeBottom .ee-red-switcher__media__item.is--active,
.ee-red-switcher__media.ee-effect--swipeBottom .ee-red-switcher__media__item.is--animating,
.ee-red-switcher__media.ee-effect--swipeTop .ee-red-switcher__media__item.is--active,
.ee-red-switcher__media.ee-effect--swipeTop .ee-red-switcher__media__item.is--animating,
.ee-red-switcher__media.ee-effect--swipeLeft .ee-red-switcher__media__item.is--active,
.ee-red-switcher__media.ee-effect--swipeLeft .ee-red-switcher__media__item.is--animating,
.ee-red-switcher__media.ee-effect--swipeRight .ee-red-switcher__media__item.is--active,
.ee-red-switcher__media.ee-effect--swipeRight .ee-red-switcher__media__item.is--animating,
.ee-red-switcher__media.ee-effect--swipeBottom .ee-red-switcher__media__item.is--active,
.ee-red-switcher__media.ee-effect--swipeBottom .ee-red-switcher__media__item.is--animating,
.ee-red-switcher__media.ee-effect--swipeTop .ee-red-switcher__media__item.is--active,
.ee-red-switcher__media.ee-effect--swipeTop .ee-red-switcher__media__item.is--animating,
.ee-red-switcher__media.ee-effect--wink .ee-red-switcher__media__item.is--active,
.ee-red-switcher__media.ee-effect--wink .ee-red-switcher__media__item.is--animating {
  z-index: 2;
  overflow: hidden;
}
.ee-red-switcher__media.ee-effect--uncoverLeft .ee-red-switcher__media__item,
.ee-red-switcher__media.ee-effect--uncoverRight .ee-red-switcher__media__item,
.ee-red-switcher__media.ee-effect--uncoverTop .ee-red-switcher__media__item,
.ee-red-switcher__media.ee-effect--uncoverBottom .ee-red-switcher__media__item {
  overflow: hidden;
}
.ee-red-switcher__media.ee-effect--uncoverLeft .ee-red-switcher__media__item.is--animating,
.ee-red-switcher__media.ee-effect--uncoverLeft .ee-red-switcher__media__item.is--active,
.ee-red-switcher__media.ee-effect--uncoverRight .ee-red-switcher__media__item.is--animating,
.ee-red-switcher__media.ee-effect--uncoverRight .ee-red-switcher__media__item.is--active,
.ee-red-switcher__media.ee-effect--uncoverTop .ee-red-switcher__media__item.is--animating,
.ee-red-switcher__media.ee-effect--uncoverTop .ee-red-switcher__media__item.is--active,
.ee-red-switcher__media.ee-effect--uncoverBottom .ee-red-switcher__media__item.is--animating,
.ee-red-switcher__media.ee-effect--uncoverBottom .ee-red-switcher__media__item.is--active {
  overflow: hidden;
}
.ee-red-switcher__media.ee-effect--uncoverLeft .ee-red-switcher__media__item.is--active,
.ee-red-switcher__media.ee-effect--uncoverRight .ee-red-switcher__media__item.is--active,
.ee-red-switcher__media.ee-effect--uncoverTop .ee-red-switcher__media__item.is--active,
.ee-red-switcher__media.ee-effect--uncoverBottom .ee-red-switcher__media__item.is--active {
  z-index: 2;
}
.ee-red-switcher__media.ee-effect--flipHorizontal .ee-red-switcher__media__item picture,
.ee-red-switcher__media.ee-effect--flipHorizontal .ee-red-switcher__media__item img,
.ee-red-switcher__media.ee-effect--flipVertical .ee-red-switcher__media__item picture,
.ee-red-switcher__media.ee-effect--flipVertical .ee-red-switcher__media__item img {
  -webkit-backface-visibility: hidden !important;
  backface-visibility: hidden !important;
}
.ee-red-switcher__title {
  z-index: 1;
}
.ee-red-switcher__title__char {
  vertical-align: top;
}
.is--animating .ee-red-switcher__title__char {
  overflow: hidden;
}
.ee-red-switcher__title__char > * {
  display: block;
}
.ee-red-switcher__titles {
  position: relative;
}
.ee-red-switcher__titles__title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  transition: none;
}
.ee-red-switcher__titles__title > * {
  font-size: 5vw;
  margin: 0px;
}
.ee-red-switcher__descriptions {
  position: relative;
}
.ee-red-switcher__descriptions__description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  transition: none;
}
.ee-red-switcher__nav {
  margin-top: 24px;
}
.ee-red-switcher__nav__item {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 0 0 12px 0;
}
.ee-red-switcher__nav__item.is--active {
  color: #000000;
}
.ee-red-switcher__arrows {
  margin: 0;
  margin-top: 24px;
  display: -ms-flexbox;
  display: flex;
}
.ee-red-switcher .ee-loader {
  z-index: -1;
  top: auto;
}
.ee-red-switcher .ee-arrow {
  position: relative;
  background-color: #eceeef;
  color: #000000;
  margin: 0px;
}
.ee-red-switcher .ee-arrow--next {
  margin-left: 24px;
}
.ee-red-switcher-skin--overlay .ee-red-switcher__media-wrapper {
  min-width: auto;
  width: 100%;
}
.ee-red-switcher-skin--overlay .ee-red-switcher__content {
  padding: 48px;
}
.ee-red-switcher-skin--overlay .ee-red-switcher__media {
  height: 100%;
}
.ee-red-switcher-skin--overlay .ee-red-switcher__media__overlay {
  z-index: 2;
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
}
.ee-red-switcher-skin--overlay .ee-red-switcher__title,
.ee-red-switcher-skin--overlay .ee-red-switcher__descriptions__description {
  color: #ffffff;
}
.ee-red-switcher-skin--overlay .ee-red-switcher__nav__item {
  color: rgba(255, 255, 255, 0.7);
}
.ee-red-switcher-skin--overlay .ee-red-switcher__nav__item.is--active {
  color: #ffffff;
}
.ee-red-switcher-skin--overlay .ee-red-switcher .ee-arrow {
  background-color: #ffffff;
  color: #000000;
}
.ee-red-switcher-skin--overlay .ee-red-switcher .ee-loader {
  background-color: rgba(255, 255, 255, 0.2);
}
.ee-red-switcher-skin--default .ee-red-switcher__media {
  min-height: 500px;
}
.ee-red-switcher-skin--default .ee-red-switcher__wrapper {
  margin-left: -48px;
}
.ee-red-switcher-skin--default .ee-red-switcher__wrapper > * {
  padding-left: 48px;
}
.ee-red-switcher-stack-desktop .ee-red-switcher__wrapper {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.ee-red-switcher-stack-desktop .ee-red-switcher__media-wrapper {
  width: 100%;
}
.ee-red-switcher-arrows-align-center .ee-red-switcher__arrows {
  -ms-flex-pack: center;
  justify-content: center;
}
.ee-red-switcher-arrows-align-right .ee-red-switcher__arrows {
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.ee-red-switcher-arrows-align-justify .ee-red-switcher__arrows {
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.ee-red-switcher-menu-align--left .ee-red-switcher__nav {
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.ee-red-switcher-menu-align--left .ee-red-switcher__nav.ee-nav--stacked {
  -ms-flex-align: start;
  align-items: flex-start;
}
.ee-red-switcher-menu-align--center .ee-red-switcher__nav {
  -ms-flex-pack: center;
  justify-content: center;
}
.ee-red-switcher-menu-align--center .ee-red-switcher__nav.ee-nav--stacked {
  -ms-flex-align: center;
  align-items: center;
}
.ee-red-switcher-menu-align--right .ee-red-switcher__nav {
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.ee-red-switcher-menu-align--right .ee-red-switcher__nav.ee-nav--stacked {
  -ms-flex-align: end;
  align-items: flex-end;
}
.ee-red-switcher-menu-align--justify .ee-red-switcher__nav {
  -ms-flex-align: stretch;
  align-items: stretch;
}
.ee-red-switcher-menu-align--justify .ee-red-switcher__nav__item {
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.ee-red-switcher-layout--reverse .ee-red-switcher__wrapper {
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 1025px) {
  .ee-red-switcher-arrows-hide .ee-red-switcher__arrows {
    display: none;
  }
  .ee-red-switcher-menu-hide .ee-red-switcher__nav {
    display: none;
  }
}

@media (max-width: 1024px) {

  .ee-red-switcher__titles {
    text-align: center;
  }
  .ee-red-switcher__nav {
    text-align: center;
  }
  .ee-red-switcher-stack-tablet .ee-red-switcher__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .ee-red-switcher-stack-tablet .ee-red-switcher__media-wrapper {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .ee-red-switcher-stack-mobile .ee-red-switcher__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .ee-red-switcher-stack-mobile .ee-red-switcher__media-wrapper {
    width: 100%;
  }
  .ee-red-switcher-arrows-mobile-hide .ee-red-switcher__arrows {
    display: none;
  }
  .ee-red-switcher-menu-mobile-hide .ee-red-switcher__nav {
    display: none;
  }
  .ee-red-switcher-menu-mobile-align--left .ee-red-switcher__nav {
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .ee-red-switcher-menu-mobile-align--left .ee-red-switcher__nav.ee-nav--stacked {
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .ee-red-switcher-menu-mobile-align--center .ee-red-switcher__nav {
    -ms-flex-pack: center;
    justify-content: center;
  }
  .ee-red-switcher-menu-mobile-align--center .ee-red-switcher__nav.ee-nav--stacked {
    -ms-flex-align: center;
    align-items: center;
  }
  .ee-red-switcher-menu-mobile-align--right .ee-red-switcher__nav {
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .ee-red-switcher-menu-mobile-align--right .ee-red-switcher__nav.ee-nav--stacked {
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .ee-red-switcher-menu-mobile-align--justify .ee-red-switcher__nav {
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .ee-red-switcher-menu-mobile-align--justify .ee-red-switcher__nav__item {
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .ee-red-switcher-arrows-tablet-hide .ee-red-switcher__arrows {
    display: none;
  }
  .ee-red-switcher-menu-tablet-hide .ee-red-switcher__nav {
    display: none;
  }
  .ee-red-switcher-menu-tablet-align--left .ee-red-switcher__nav {
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .ee-red-switcher-menu-tablet-align--left .ee-red-switcher__nav.ee-nav--stacked {
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .ee-red-switcher-menu-tablet-align--center .ee-red-switcher__nav {
    -ms-flex-pack: center;
    justify-content: center;
  }
  .ee-red-switcher-menu-tablet-align--center .ee-red-switcher__nav.ee-nav--stacked {
    -ms-flex-align: center;
    align-items: center;
  }
  .ee-red-switcher-menu-tablet-align--right .ee-red-switcher__nav {
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .ee-red-switcher-menu-tablet-align--right .ee-red-switcher__nav.ee-nav--stacked {
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .ee-red-switcher-menu-tablet-align--justify .ee-red-switcher__nav {
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .ee-red-switcher-menu-tablet-align--justify .ee-red-switcher__nav__item {
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}
